
body {
  background: #555555;
  font-family: Tahoma;
  font-size: 15pt;
  color: black;
}

content {
  max-width: 500px;
  margin: auto;
}

#wrapper {
  background-color: lightyellow;
  margin: 20px auto 20px auto;
  max-width: 1000px;
  width: 80%;
}

header{
  /*margin-bottom: 15px; */
  min-height: 140px;
  max-height: 140px;
  background-color: #edbc53;
}

.skip {
  position: absolute;
  color: white;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

.bg-logowaterman {
  width: 160px; height: 47px;
  background: url('css_sprites.png') -10px -98px;
}

.bg-logolamy {
  width: 160px; height: 40px;
  background: url('css_sprites.png') -190px -72px;
}

.bg-logotwsbi {
  width: 160px; height: 42px;
  background: url('css_sprites.png') -190px -10px;
}

.bg-logoparker {
  width: 160px; height: 39px;
  background: url('css_sprites.png') -10px -165px;
}

.bg-logonoodlers {
  width: 160px; height: 68px;
  background: url('css_sprites.png') -10px -10px;
}

h1 {
  font-size: clamp(20px, calc(-17px + 5vw), 40px);
  line-height: normal;
  text-align: center;
  padding-top: 50px;
}

img{
  margin-right: 15px;
  float: left;
}


.mycollection{
  max-width: 100%;
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

nav li {
  display: inline;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  border-bottom: 3px solid transparent;
  padding: 14px 20px 14px 20px;
}

nav li a:hover {
  background-color: #333333;
  border-bottom: 3px solid #EEBE59;
}

nav a.active {
  background-color: #333333;
  color: #EEBE59;
}

nav a{
  white-space: nowrap;
}

/* unvisited link */
nav a:link {
  color: #EEBE59;
}

/* visited link */
nav a:visited {
  color: #EEBE59;
}

/* mouse over link */
nav a:hover {
  color: #EEBE59;
}

/* selected link */
nav a:active {
  color: #EEBE59;
}

main{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

main p {
  text-align: left;
  padding-bottom: 10px;
}

main img{
  margin-left: 50px;
  float: right;
}

table {
  margin-left: auto;
  margin-right: auto;
}

thead { background-color: #edbc53;
  color: black; }

  td, th {
    padding: 0.0em;
    border-style: none;
    font-size: 14px;
  }

  tr {
    text-align: center;
    line-height: 30px;
  }

  tr:nth-of-type(even) {
    background-color: Gainsboro;
  }

  form {
    padding: 10px;
  }

  label {
    display: block;
  }

  textarea {
    margin-top: 10px;
  }

  .textbox {
    margin-top: 10px;
    width: 375px;
    height: 25px;
    margin-bottom: 20px;
  }

  select {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 383px;
    height: 30px;
  }

  #button {
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    font: inherit;
  }

  footer{
    font-size: 10pt;
    text-align: center;
    clear:both;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .embeddedvideo {
    width: 640px;
    height: auto;
  }

  .video-container {
    position: relative;
    padding-bottom: calc(56.25% * 0.75); /* 16:9 */
    width: 75%;
    height: 0;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .youtube-spacing {
    padding-bottom: 60px;
  }


  @media only screen and (max-width: 635px) {

    body {
      background: #555555;
      font-family: Arial;
      font-size: 15pt;
      color: black;
    }

    main img{
      margin-left: -50px;
      float: left;
      width: 95vw;
    }

    select {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 150px;
      height: 30px;
    }

    .textbox {
      margin-top: 10px;
      width: 150px;
      height: 25px;
      margin-bottom: 20px;
    }

    textarea {
      margin-top: 10px;
      width: 200px;
    }

    #wrapper {
      background-color: lightyellow;
      max-width: 1000px;
      width: 100%;
    }

    .embeddedvideo {
      width: 300px;
      height: auto;
    }

    .youtube-spacing {
      padding-bottom: 60px;
      width: 300px;
    }

    .video-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    }

    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 130%;
      height: 130%;
    }
  }
